.strong_text{
    font-weight: 800;
    white-space: nowrap;
    padding-top: 5px;
    font-size: 15px;
}
.big_strong_text{
    font-weight: 700;
    white-space: nowrap;
    padding-top: 8px;
    padding-left: 8px;
    font-size: 25px;
}

.big_strong_text span{
    display:inline-block;
    width: 350px;
    margin-left: 25px;
}

.light_text{
    font-weight: 500;
    line-height:15px;
    padding-top: 5px;
    font-size: 13px;
}

.normal_text{
    font-weight: 600;
    white-space: nowrap;
    padding-top: 8px;
    padding-left: 8px;
    font-size: 12px;
}

.normal_text span{
    display:inline-block;
    width: 180px;
    margin-left: 5px;
}

.links{
    color:#777777;
    cursor:pointer;
    font-size:15px;
    color:blue;
}
.views{
    cursor:pointer;
    color:blue;
}
.edit, .add, .call{
    cursor:pointer;
    font-size:15px;
    color:blue;
}

.delete{
    color:#777777;
    cursor:pointer;
    font-size:15px;
    color:blue;
}
.complate{
    color:#777777;
    cursor:pointer;
    font-size:15px;
    color:blue;
}
.pick{
    color:#777777;
    cursor:pointer;
    font-size:15px;
    color:blue;
}
.login_window{
    background: black;
    alpha:255;
}
.myhover{
    background: #F0DCB6;
}

.content {
    width:100%;
    height:100%;
}
.image .webix_template{
    padding: 0px;
}
.nav_list .webix_dataview_item{
    background-color: #aaa;
    border-color: #bbb;
}
.nav_list .webix_dataview_item.webix_selected{
    background-color: orange;
}

.webix_table_radio.checked{
    background:green;
    width:16px; height:16px; margin-top:8px;
}
.webix_table_radio.notchecked{
    background:orange;
    width:16px; height:16px; margin-top:8px;
}

.checked{
    color:green;
    font-weight: bold; cursor:pointer;
}
.notchecked{
    color:red;
    font-weight:bold; cursor: pointer;
}

.text_button{
    font-weight:bold;
    background-color:white;
    color:#3498db;
    border-radius:3px;
}

.webix_info div{
    padding: 10px;
}
.webix_notify div{
    background-color:#FF8831;
    color: white;
}

.row_button1{
    color: #fff;
    font: 400 14px/1.5 "Microsoft Yahei",Arial;
    border-radius: 15px 15px 15px 15px;

    background-color: rgba(53, 153, 186, 0.8);
    display: inline-block;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    padding: 0 15px;
    margin: 0 5px;
    cursor:pointer;
    text-decoration:none;
    transition: all 0.2s ease 0s;
}
.row_button1:hover{
    border-radius: 0;
    background-color: #2a8dae;
    border-left: 4px solid #107495;
}

.webix_cell{
    word-wrap:break-word;
}

.strongtext{
    font-weight:bold;color: #000000;
}

#ivrflash{
    background-color: #3498DB;
    position: absolute;
    right: 0;
    bottom: 0;
}

.highlighted_header.header5{
    background-color: #8bbfb7 !important;
}

.text_button{
    text-align: center;
    padding: 2px 5px;
    border-radius: 3px;
    color: #fff;
}

.text_delete{
    text-decoration: line-through;
}

.trash{
    cursor:pointer;
    text-decoration: underline;
    font-size: 12px;
}

/**

**/
.movies .webix_dataview_item, .movies .webix_dataview_item.webix_selected{
    padding: 3px 2px;
    border-color: #fff;
    background-image:none;
    background-color:#fff;
}
.movies .webix_dataview_item.webix_selected .overall{
    background-color: #DBFFB0;
    background: -moz-linear-gradient(top , #DBFFB0 0%, #D0F4A4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#DBFFB0), color-stop(1, #D0F4A4));
    background: -o-linear-gradient(top, #DBFFB0 0% , #D0F4A4 100%);
    background: -ms-linear-gradient(top, #DBFFB0 0% , #D0F4A4 100%);
    background: -moz-linear-gradient(top, #DBFFB0 0% , #D0F4A4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#DBFFB0), color-stop(1, #D0F4A4));
}
.overall{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
    height: 95px;
    padding: 10px;
    color: #303030;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #e1e4ea;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#edeff4), color-stop(1, #e1e4ea));
    background: -o-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -ms-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -moz-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#edeff4), color-stop(1, #e1e4ea));
    box-shadow: 0px 1px 1px #d4d7de;
}

.items{
    height:35px;
    line-height:20px;
    overflow:hidden;
    font-weight:bold;
    padding-left: 5px;
}

.items label{
    padding-left: 5px;
    color:#df6910;
}

.items span{
    padding-left: 5px;
    width: 150px;
}
.status3 {
    background-color: red;
    font-weight:bold;
    color:white;
}


.list-content{
    margin: 5px;
    float: left;
    height: 120px;
    width: 420px;
    background-color:#e1e4ea ;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #d4d7de;
    font-family: 'PT Sans',Tahoma;
    font-size: 15px;
    cursor: pointer;
    text-shadow: 0 1px 0 #FFFFFF;
    color: #303030;
}

.webix_selected.list-content{
    background-color: #DBFFB0;
    background: -moz-linear-gradient(top , #DBFFB0 0%, #D0F4A4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#DBFFB0), color-stop(1, #D0F4A4));
    background: -o-linear-gradient(top, #DBFFB0 0% , #D0F4A4 100%);
    background: -ms-linear-gradient(top, #DBFFB0 0% , #D0F4A4 100%);
    background: -moz-linear-gradient(top, #DBFFB0 0% , #D0F4A4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#DBFFB0), color-stop(1, #D0F4A4));
}

.left-img{
    float: left;
    width: 150px;
    height: inherit;
}
.left-img img{
    width: inherit;
    height: inherit;
    border-radius: 5px;
}
.right-text{
    float: left;
    width: 250px;
    line-height: 18px;
    height: inherit;
    margin-left: 10px;
}

.title-content{
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color:#d9ead3;
    border-radius: 3px;
    font-family: 'PT Sans',Tahoma;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: 15px;
    cursor: pointer;
    clear: left;
}

.title-content span{
    margin-right: 5px;
    font-size: 25px;
}
/**
**/