<div style="margin: 0;padding: 0;border: none;">
    <div style="width: 50px;height: 165px;float: left;background: #333;font-size: 64px;text-align: center;line-height: 165px;">#rank#</div>
    <div style="width: 320px;height: 165px;float: left;background: #555;">
        <div class="image-view" style="float: left;width: 320px; height: 115px;background: url('#image_url#') no-repeat center;background-size: contain;"></div>
        <input value="#link_url#" style="float: left;width: 264px;height: 19px;font-size: 12px;" />
        <div class="open-link" style="float: left;width: 50px;height: 25px;text-align: center;line-height: 25px;font-size: 12px;background: #888;">打开</div>
        <div class="submit-data" style="float: right;width: 50px;height: 25px;text-align: center;line-height: 25px;font-size: 12px;background: #AAA;">提交</div>
        <div class="delete-data" style="float: right;width: 50px;height: 25px;text-align: center;line-height: 25px;font-size: 12px;background: #BBB;">删除</div>
    </div>
</div>