<div data-key="#banner_id#" style="margin: 0;padding: 0;border: none;">
    <div style="width: 100px;height: 330px;float: left;background: #333;font-size: 64px;text-align: center;line-height: 330px;">#rank#</div>
    <div style="width: 640px;height: 330px;float: left;background: #555;">
        <div class="image-view" style="float: left;width: 640px; height: 230px;background: url('#image_url#') no-repeat center;"></div>
        <input value="#link_url#" style="float: left;width: 534px;height: 44px;font-size: 32px;" />
        <div class="open-link" style="float: left;width: 100px;height: 50px;text-align: center;line-height: 50px;font-size: 32px;background: #888;">打开</div>
        <div class="submit-data" style="float: right;width: 100px;height: 50px;text-align: center;line-height: 50px;font-size: 32px;background: #AAA;">提交</div>
        <div class="delete-data" style="float: right;width: 100px;height: 50px;text-align: center;line-height: 50px;font-size: 32px;background: #BBB;">删除</div>
    </div>
</div>